

@each $color-name, $variants in $colors {

  @each  $variant, $value in $variants{
    .text-#{$color-name}-#{$variant} {
        color:  $value;
    }
    .bg-#{$color-name}-#{$variant}{
      background-color:  $value;
      color: set-color($value);
    }

    @include create-theme(#{$color-name}-#{$variant},$value)
  }
    
  }