ul{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0pp;
}
nav {
  width: 100%;
}
.navbar{
  width: 100%;
  display: flex;
  position: relative;
  min-height: 56px;
  flex-direction: row;
  justify-content:  space-between;

  & ul.nav{
    list-style: none;
  }
  .nav{
   
    &-item, li{
      display: inline-block;
      list-style-type: none;
      height: 100%;
    }
    &-link{
      height: 100%;
      display: block;
      padding:$nav-link-padding;
      text-decoration: none;
      color: $nav-link-default-color;
      &:hover{
          background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
}

