@mixin create-columns-for-breakpoint($breakpoint, $prefix) {
  @media (min-width: $breakpoint) {
    @include create-navbar-collapse-for-breakpoint($prefix);
    .hide-#{$prefix} {
      display: none;
    }
    .show-#{$prefix} {
      display: block;
    }
    .container-#{$prefix} {
      max-width: $breakpoint;
    }
    @include create-columns($prefix);
    @include create-width-fractions-for-breakpoint($prefix, 12);
    @include create-width-fractions-for-breakpoint($prefix, 6);
    @include create-width-fractions-for-breakpoint($prefix, 4);
    @include create-width-fractions-for-breakpoint($prefix, 3);
    @include create-width-fractions-for-breakpoint($prefix, 2);
    @for $i from 1 through $lop-size {
      @include create-margin-for-breakpoint($i, $breakpoint, $prefix);
      @include create-padding-size-for-breakpoint($i, $breakpoint, $prefix);
    }
    @each $font-weight-name, $font-weight-value in $font-weights {
      @include font-weight-for-breakpoint(
        $font-weight-value,
        $font-weight-name,
        $prefix
      );
    }
    .sidebar.sidebar-collapse-#{$prefix} {
      position: sticky;
      transform: none;
      border-right: 0;
      z-index: 0;
      &:not(.expanded) {
        transform: none;
      }
      .expand-btn {
        display: none;
      }
    }
    @each $display in $displays-value {
      .display-#{$prefix}-#{$display} {
        display: $display;
      }
    }
    @each $position in $positions {
      .#{$position}-#{$prefix} {
        position: $position;
      }
    }
    @each $overflow in $overflow-values {
      .overflow-#{$prefix}-#{$overflow} {
        overflow: $overflow;
      }
      .overflow-x-#{$prefix}-#{$overflow} {
        overflow-x: $overflow;
      }
      .overflow-y-#{$prefix}-#{$overflow} {
        overflow-y: $overflow;
      }
    }
    @each $font-size-name, $font-size in $font-sizes {
      @include create-font-size($font-size, $prefix, -#{$font-size-name});
    }

    @each $font-size-name, $font-size in $text-font-sizes {
      @include create-font-size($font-size, $prefix, -#{$font-size-name});
    }
    @each $font-size-name, $font-size in $heading-font-sizes {
      @include create-font-size($font-size, $prefix, -#{$font-size-name});
    }
  }
}
@each $prefix, $value in $breakpoints {
  @include create-columns-for-breakpoint($value, $prefix);
}
