$alignments: (left, center, right, justify);

@each $aligment in $alignments {
  .text-#{$aligment} {
    text-align: $aligment;
  }
}

@each $font-size-prefix, $font-size in $font-sizes {
  .text-#{$font-size-prefix} {
    text-align: $font-size;
  }
}
