@import "./mixins/buttons";

@function set-color($background) {
    $r: red($background);
    $g: green($background);
    $b: blue($background);
    $yiq: (($r*299) + ($g*587) + ($b*114))/1000;
    
    @if ($yiq >= 128) {
     @return  #212121;
    }
    @else {
      @return #FFFFFF;
    }
}
@function is-map($var){
  @return type-of($var) == 'map';
}

@function create-border($color){
  @return 1px solid $color; 
}


@mixin create-navbar($name,$color) {
  .navbar-#{$name}{
    background-color: $color;
    color: set-color($color);
    border-bottom: $nav-bar-border-width solid lighten($color, 50%);
    .nav{
      &-link{
        color: set-color($color);
      }
    }
  }
}



@mixin create-theme($name,$color) {
    @include create-navbar($name,$color );
    @include create-button-for-theme($name,$color); 
} 