
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: $font-family;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
col{
    display: flex;
    flex: 1;

}

