/*----messages success----*/
* {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
}

.nav-primary {
  background-color: #3385ff;
}

.nav-primary .nav-brand {
  color: #eee;
}

.nav-primary .nav-link {
  color: #eee;
}

.nav-secondary {
  background-color: #eee;
}

.fixed {
  position: fixed;
}

.nav-bar {
  min-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-brand {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1rem 1rem;
  min-height: 3.25rem;
  font-size: 1.5rem;
}

.nav-bar .nav-brand a {
  text-decoration: none;
  color: #eee;
}

.nav-bar .nav,
.nav-bar .nav-end {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-bar .nav .nav-bar-item,
.nav-bar .nav-end .nav-bar-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
}

.nav-bar .nav .nav-bar-item .nav-link,
.nav-bar .nav-end .nav-bar-item .nav-link {
  line-height: 1.5;
  text-decoration: none;
}

.nav-bar .nav .nav-bar-item:hover,
.nav-bar .nav-end .nav-bar-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-bar .nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-bar .nav-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.container {
  width: 75%;
  margin: auto;
  background-color: #fff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container, .row, .col {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  padding: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col* {
  width: 100;
}

.col-1 {
  -webkit-box-flex: 8.33%;
      -ms-flex: 8.33%;
          flex: 8.33%;
  max-width: 8.33%;
}

.col-2 {
  -webkit-box-flex: 16.66%;
      -ms-flex: 16.66%;
          flex: 16.66%;
  max-width: 16.66%;
}

.col-3 {
  -webkit-box-flex: 24.99%;
      -ms-flex: 24.99%;
          flex: 24.99%;
  max-width: 24.99%;
}

.col-4 {
  -webkit-box-flex: 33.32%;
      -ms-flex: 33.32%;
          flex: 33.32%;
  max-width: 33.32%;
}

.col-5 {
  -webkit-box-flex: 41.65%;
      -ms-flex: 41.65%;
          flex: 41.65%;
  max-width: 41.65%;
}

.col-6 {
  -webkit-box-flex: 49.98%;
      -ms-flex: 49.98%;
          flex: 49.98%;
  max-width: 49.98%;
}

.col-7 {
  -webkit-box-flex: 58.31%;
      -ms-flex: 58.31%;
          flex: 58.31%;
  max-width: 58.31%;
}

.col-8 {
  -webkit-box-flex: 66.64%;
      -ms-flex: 66.64%;
          flex: 66.64%;
  max-width: 66.64%;
}

.col-9 {
  -webkit-box-flex: 74.97%;
      -ms-flex: 74.97%;
          flex: 74.97%;
  max-width: 74.97%;
}

.col-10 {
  -webkit-box-flex: 83.3%;
      -ms-flex: 83.3%;
          flex: 83.3%;
  max-width: 83.3%;
}

.col-11 {
  -webkit-box-flex: 91.63%;
      -ms-flex: 91.63%;
          flex: 91.63%;
  max-width: 91.63%;
}

.col-12 {
  -webkit-box-flex: 99.96%;
      -ms-flex: 99.96%;
          flex: 99.96%;
  max-width: 99.96%;
}

@media (max-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 8.33%;
        -ms-flex: 8.33%;
            flex: 8.33%;
    max-width: 8.33%;
  }
  .col-xl-2 {
    -webkit-box-flex: 16.66%;
        -ms-flex: 16.66%;
            flex: 16.66%;
    max-width: 16.66%;
  }
  .col-xl-3 {
    -webkit-box-flex: 24.99%;
        -ms-flex: 24.99%;
            flex: 24.99%;
    max-width: 24.99%;
  }
  .col-xl-4 {
    -webkit-box-flex: 33.32%;
        -ms-flex: 33.32%;
            flex: 33.32%;
    max-width: 33.32%;
  }
  .col-xl-5 {
    -webkit-box-flex: 41.65%;
        -ms-flex: 41.65%;
            flex: 41.65%;
    max-width: 41.65%;
  }
  .col-xl-6 {
    -webkit-box-flex: 49.98%;
        -ms-flex: 49.98%;
            flex: 49.98%;
    max-width: 49.98%;
  }
  .col-xl-7 {
    -webkit-box-flex: 58.31%;
        -ms-flex: 58.31%;
            flex: 58.31%;
    max-width: 58.31%;
  }
  .col-xl-8 {
    -webkit-box-flex: 66.64%;
        -ms-flex: 66.64%;
            flex: 66.64%;
    max-width: 66.64%;
  }
  .col-xl-9 {
    -webkit-box-flex: 74.97%;
        -ms-flex: 74.97%;
            flex: 74.97%;
    max-width: 74.97%;
  }
  .col-xl-10 {
    -webkit-box-flex: 83.3%;
        -ms-flex: 83.3%;
            flex: 83.3%;
    max-width: 83.3%;
  }
  .col-xl-11 {
    -webkit-box-flex: 91.63%;
        -ms-flex: 91.63%;
            flex: 91.63%;
    max-width: 91.63%;
  }
  .col-xl-12 {
    -webkit-box-flex: 99.96%;
        -ms-flex: 99.96%;
            flex: 99.96%;
    max-width: 99.96%;
  }
}

@media (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 8.33%;
        -ms-flex: 8.33%;
            flex: 8.33%;
    max-width: 8.33%;
  }
  .col-lg-2 {
    -webkit-box-flex: 16.66%;
        -ms-flex: 16.66%;
            flex: 16.66%;
    max-width: 16.66%;
  }
  .col-lg-3 {
    -webkit-box-flex: 24.99%;
        -ms-flex: 24.99%;
            flex: 24.99%;
    max-width: 24.99%;
  }
  .col-lg-4 {
    -webkit-box-flex: 33.32%;
        -ms-flex: 33.32%;
            flex: 33.32%;
    max-width: 33.32%;
  }
  .col-lg-5 {
    -webkit-box-flex: 41.65%;
        -ms-flex: 41.65%;
            flex: 41.65%;
    max-width: 41.65%;
  }
  .col-lg-6 {
    -webkit-box-flex: 49.98%;
        -ms-flex: 49.98%;
            flex: 49.98%;
    max-width: 49.98%;
  }
  .col-lg-7 {
    -webkit-box-flex: 58.31%;
        -ms-flex: 58.31%;
            flex: 58.31%;
    max-width: 58.31%;
  }
  .col-lg-8 {
    -webkit-box-flex: 66.64%;
        -ms-flex: 66.64%;
            flex: 66.64%;
    max-width: 66.64%;
  }
  .col-lg-9 {
    -webkit-box-flex: 74.97%;
        -ms-flex: 74.97%;
            flex: 74.97%;
    max-width: 74.97%;
  }
  .col-lg-10 {
    -webkit-box-flex: 83.3%;
        -ms-flex: 83.3%;
            flex: 83.3%;
    max-width: 83.3%;
  }
  .col-lg-11 {
    -webkit-box-flex: 91.63%;
        -ms-flex: 91.63%;
            flex: 91.63%;
    max-width: 91.63%;
  }
  .col-lg-12 {
    -webkit-box-flex: 99.96%;
        -ms-flex: 99.96%;
            flex: 99.96%;
    max-width: 99.96%;
  }
}

@media (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 8.33%;
        -ms-flex: 8.33%;
            flex: 8.33%;
    max-width: 8.33%;
  }
  .col-md-2 {
    -webkit-box-flex: 16.66%;
        -ms-flex: 16.66%;
            flex: 16.66%;
    max-width: 16.66%;
  }
  .col-md-3 {
    -webkit-box-flex: 24.99%;
        -ms-flex: 24.99%;
            flex: 24.99%;
    max-width: 24.99%;
  }
  .col-md-4 {
    -webkit-box-flex: 33.32%;
        -ms-flex: 33.32%;
            flex: 33.32%;
    max-width: 33.32%;
  }
  .col-md-5 {
    -webkit-box-flex: 41.65%;
        -ms-flex: 41.65%;
            flex: 41.65%;
    max-width: 41.65%;
  }
  .col-md-6 {
    -webkit-box-flex: 49.98%;
        -ms-flex: 49.98%;
            flex: 49.98%;
    max-width: 49.98%;
  }
  .col-md-7 {
    -webkit-box-flex: 58.31%;
        -ms-flex: 58.31%;
            flex: 58.31%;
    max-width: 58.31%;
  }
  .col-md-8 {
    -webkit-box-flex: 66.64%;
        -ms-flex: 66.64%;
            flex: 66.64%;
    max-width: 66.64%;
  }
  .col-md-9 {
    -webkit-box-flex: 74.97%;
        -ms-flex: 74.97%;
            flex: 74.97%;
    max-width: 74.97%;
  }
  .col-md-10 {
    -webkit-box-flex: 83.3%;
        -ms-flex: 83.3%;
            flex: 83.3%;
    max-width: 83.3%;
  }
  .col-md-11 {
    -webkit-box-flex: 91.63%;
        -ms-flex: 91.63%;
            flex: 91.63%;
    max-width: 91.63%;
  }
  .col-md-12 {
    -webkit-box-flex: 99.96%;
        -ms-flex: 99.96%;
            flex: 99.96%;
    max-width: 99.96%;
  }
}

@media (max-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 8.33%;
        -ms-flex: 8.33%;
            flex: 8.33%;
    max-width: 8.33%;
  }
  .col-sm-2 {
    -webkit-box-flex: 16.66%;
        -ms-flex: 16.66%;
            flex: 16.66%;
    max-width: 16.66%;
  }
  .col-sm-3 {
    -webkit-box-flex: 24.99%;
        -ms-flex: 24.99%;
            flex: 24.99%;
    max-width: 24.99%;
  }
  .col-sm-4 {
    -webkit-box-flex: 33.32%;
        -ms-flex: 33.32%;
            flex: 33.32%;
    max-width: 33.32%;
  }
  .col-sm-5 {
    -webkit-box-flex: 41.65%;
        -ms-flex: 41.65%;
            flex: 41.65%;
    max-width: 41.65%;
  }
  .col-sm-6 {
    -webkit-box-flex: 49.98%;
        -ms-flex: 49.98%;
            flex: 49.98%;
    max-width: 49.98%;
  }
  .col-sm-7 {
    -webkit-box-flex: 58.31%;
        -ms-flex: 58.31%;
            flex: 58.31%;
    max-width: 58.31%;
  }
  .col-sm-8 {
    -webkit-box-flex: 66.64%;
        -ms-flex: 66.64%;
            flex: 66.64%;
    max-width: 66.64%;
  }
  .col-sm-9 {
    -webkit-box-flex: 74.97%;
        -ms-flex: 74.97%;
            flex: 74.97%;
    max-width: 74.97%;
  }
  .col-sm-10 {
    -webkit-box-flex: 83.3%;
        -ms-flex: 83.3%;
            flex: 83.3%;
    max-width: 83.3%;
  }
  .col-sm-11 {
    -webkit-box-flex: 91.63%;
        -ms-flex: 91.63%;
            flex: 91.63%;
    max-width: 91.63%;
  }
  .col-sm-12 {
    -webkit-box-flex: 99.96%;
        -ms-flex: 99.96%;
            flex: 99.96%;
    max-width: 99.96%;
  }
}

@media (max-width: 768px) {
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
}

@media (max-width: 576px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: block;
  }
}

@media (max-width: 992px) {
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: block;
  }
}

@media (max-width: 1200px) {
  .hide-xl {
    display: none;
  }
  .show-xl {
    display: block;
  }
}

.align-content-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-content-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-items-start {
  justify-items: flex-start;
}

.justify-items-end {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */