@mixin font-weight-for-breakpoint($weight, $prefix, $breakpoint-prefix) {
  .font-#{$breakpoint-prefix}-#{$prefix} {
    font-weight: $weight;
  }
}
@mixin create-font-size($size, $prefix, $subfix: "") {
  .font-#{$prefix}#{$subfix} {
    font-size: $size;
  }
}

@mixin  create-text-for-color($name,$color) {
  .text-#{$name},.hover\:.text-#{$name}{
    color:$color;
  }
}