@mixin create-navbar($name, $color) {
  .navbar-#{$name} {
    @include get-background-and-color($color);
    border-bottom: $nav-bar-border-width solid set-border-color($color);
    .nav {
      &-link {
        color: set-color($color);
      }
    }
  }
}
@mixin create-navbar-collapse-for-breakpoint($subfix) {
  .navbar {
    &-collapse-#{$subfix} {
      .nav {
        &-menu {
          .nav {
            flex-direction: row;
            width: auto;
          }
        }
        &-toggler {
          display: none;
        }
        &-menu {
          max-height: 100%;
          width: fit-content;
        }
        &-item,
        li {
          display: inline-block;
          list-style-type: none;
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
