@mixin create-navbar($name, $color) {
  .navbar-#{$name} {
    @include get-background-and-color($color);
    border-bottom: $nav-bar-border-width solid set-border-color($color);
    .brand {
      color: set-color($color);
    }
    .nav {
      &-link {
        color: set-color($color);
      }
    }
  }
}
@mixin create-navbar-collapse-for-breakpoint($subfix) {
  .navbar-collapse-#{$subfix} {
    flex-wrap: nowrap;
    .nav {
      display: flex;
      &-toggler {
        display: none;
      }
      &-menu {
        height: 100%;
        overflow-y: visible;
        display: flex;
      }
    }
  }
}
