@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0px;
  }
}

@for $i from 1 through 6 {
  .h#{$i},
  h#{$i} {
    font-weight: $heading-font-weigth;
    margin-bottom: 1rem;
  }
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
%is-h {
  line-height: 1.2;
}

@each $text-font-target, $text-font-size in $heading-font-sizes {
  #{$text-font-target} {
    font-size: $text-font-size;
    @extend %is-h;
  }
  .#{$text-font-target} {
    font-size: $text-font-size;
    @extend %is-h;
  }
}

@each $font-size-prefix, $font-size in $text-font-sizes {
  @include create-font-size($font-size, $font-size-prefix);
}

@each $font-size-name, $font-size in $font-sizes {
  //@include create-font-size($font-size, $font-size-name);
  .#{$font-size-name} {
    font-size: $font-size;
  }
}

@each $font-weight-prefix, $font-weight in $font-weights {
  .font-#{$font-weight-prefix} {
    font-weight: $font-weight;
  }
}

i,
span.material-icons {
  vertical-align: middle;
}
