
@for $i from 0 through 20 {
  $prefix: $i * 5;
  .hover\:opcty-#{$prefix}:hover {
    opacity: 0.05 * $i;
  }
}

.hover\:shadow-none:hover {
  box-shadow: none;
}

@each $shadow-size-prefix, $shadow in $box-shadow-sizes {
  .hover\:shadow-#{$shadow-size-prefix}:hover {
    box-shadow: $shadow;
  }
}
