.shadow-none {
  box-shadow: none;
}
.shadow {
  box-shadow: map-get($box-shadow-sizes, md);
}
@each $shadow-size-prefix, $shadow in $box-shadow-sizes {
  .shadow-#{$shadow-size-prefix} {
    box-shadow: $shadow;
  }
}
