.shadow-none {
  box-shadow: none;
}
.shadow {
  box-shadow: map-get($box-shadow-sizes, md);
}

@each $shadow-size, $shadow in $box-shadow-sizes {
  .shadow-#{$shadow-size} {
    box-shadow: $shadow;
  }
}
