$alignments: (left, center, right, justify);

@each $aligment in $alignments {
  .text-#{$aligment} {
    text-align: $aligment;
  }
}
 @mixin  create-text-for-color($name,$color) {
    .text-#{$name}{
      color:$color
    }
 }