.card {
  border-width: $card-border-width;
  border-style: $card-border-style;
  border-color: $card-border-color;
  border-radius: $card-border-radius;
  overflow: hidden;
  margin-bottom: 1rem;
  &-head {
    padding: $card-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &-body {
    padding: $card-padding;
    padding-top: 0px;
    p {
      margin-bottom: 0px;
    }
  }
  &-avatar {
    width: $card-avatar-width;
    height: $card-avatar-height;
    margin-right: $card-avatar-margin-right;
  }
  &-title,
  &-subtitle {
    margin-bottom: 0px;
  }
  &-img {
    width: 100%;
    object-fit: cover;
  }
  &-title {
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    color: inherit;
    line-height: $card-title-line-height;
    margin-bottom: 0px;
  }
  &-subtitle {
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    opacity: $card-subtitle-opacity;
    line-height: $card-subtitle-line-height;
  }
  &-footer {
    border-color: inherit;
  }
  &-actions {
    border-top-width: $card-border-width;
    border-top-color: inherit;
    border-top-style: $card-border-style;
    .btn {
      &:first-child {
        border-bottom-left-radius: 5px;
      }
    }
    /*.btn {
      padding: 1rem;
      margin: 0px;
    }*/
  }
}
