$max-width: map-get($modal-sizes, "default");
%modal-border-padding {
  padding: $modal-padding;
  border-bottom: $modal-border;
}
/**
* Modal class
*/
.modal {
  display: none;

  &-animated {
    &:not(.show) {
      .modal {
        &-background {
          opacity: 0;
        }
        &-content {
          transform: scale(0);
        }
      }
    }
    &.show {
      .modal {
        &-background {
          opacity: 1;
        }
        &-content {
          transform: scale(1);
        }
      }
    }
  }

  &-background,
  &-content {
    transition: all 0.3s ease-in-out;
  }
  &-background {
    width: 100vw;
    height: 100vh;
    background-color: $modal-background-background-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $modal-background-z-index;
  }
  &-container {
    width: 100%;
    height: 100%;
    @extend %is-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-content {
    width: 100%;
    max-width: $max-width;
    max-height: $modal-content-max-height;
    border-radius: $modal-content-boder-radius;
    background-color: $modal-content-background-color;
    @extend %is-flex;
    flex-direction: column;
  }

  &-header {
   @extend %modal-border-padding;
  }
  &-body {
    @extend %modal-border-padding;
    overflow-y: auto;
  }
  &-footer {
    padding: $modal-padding;
  }
  &-title {
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
  }

  p {
    margin-bottom: 0;
  }
  /*
  * change sise fo modals content 
  */
  @each $modal-size-prefix, $modal-size in $modal-sizes {
    &.modal-#{$modal-size-prefix} {
      .modal {
        &-content {
          max-width: $modal-size;
        }
      }
    }
  }
}
