nav {
  width: 100%;
}
ul.nav {
  padding-inline-start: 0;
  list-style: none;
}
.nav {
  &-link {
    padding: $nav-link-padding;
    &-is-active {
      color: $nav-breacrumbs-link-color;
    }
  }
  &-horizontal {
    flex-direction: row;
  }

  &-item,
  &-link {
    line-height: $nav-line-height;
  }

  &-link {
    height: 100%;
    width: 100%;
    font-size: $nav-link-font-size;
    text-decoration: none;
    color: $nav-link-default-color;

    &:hover {
      color: $nav-link-hover-color;
    }
  }
  &.breadcrumbs {
    flex-direction: row;
    li {
      a {
        display: initial;
        color: $nav-breacrumbs-link-color;
        &.is-active {
          color: $nav-breacrumbs-link-active-color;
        }
      }
      &:not(:first-child) {
        &::before {
          display: inline-block;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          color: #6c757d;
          content: "/";
        }
      }
    }
  }
}
