.navbar {
  //background-color: $nav-bar-default-bg-color;
  width: 100%;
  display: flex;
  position: relative;
  min-height: $nav-bar-height;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  .nav {
    &-menu {
      width: 100%;
      height: 0px;
      overflow-y: hidden;
      transition: $navbar-collpase-transiton;
    }
    &-link {
      padding: $navbar-link-padding;
      line-height: $nav-line-height;
      font-size: $nav-link-font-size;
      &:hover {
        background-color: $navbar-link-hover-bg-color;
      }
    }
  }
  .brand {
    font-size: $nav-brand-font-size;
    font-weight: $nav-brand-font-weigh;
    padding: $nav-brand-padding;
    white-space: nowrap;
  }
}
