nav {
  width: 100%;
}
ul.nav {
  padding-inline-start: 0px;
  list-style: none;
}
.nav {
  display: flex;
  flex-direction: column;
  width: auto;
  &-link {
    padding: $nav-link-padding;
  }
  &-horizontal {
    flex-direction: row;
  }

  &-item,
  &-link {
    line-height: $nav-line-height;
  }

  &-link {
    height: 100%;
    width: 100%;
    font-size: $nav-link-font-size;
    text-decoration: none;
    color: $nav-link-default-color;

    &:hover {
      color: $nav-link-hover-color;
    }
  }
}
