.notification {
  position: relative;
  padding: $notification-padding;
  width: $notification-width;
  box-shadow: $notification-shadow;
  border: $notification-boder;
  border-radius: $notification-boder-radius;
  margin-bottom: 1rem;
  &-title {
    @extend %is-flex;
    justify-content: space-between;
    align-items: center;
    font-size: $notification-title-font-size;
    font-weight: $notification-title-font-weight;
    margin-bottom: 1rem;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
  &-container {
    position: fixed;
  }
}
