.sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  position: fixed;
  overflow-y: auto;
  z-index: $sidebar-z-index;
  left: 0px;
  top: calc(#{$nav-bar-height} + 1px);
  transition: $sidebar-transition-property $sidebar-transition-duration
    $sidebar-transition-ease;
  border-right: $sidebar-border-width $sidebar-border-style
    $sidebar-border-color;

  &:not(.expanded) {
    transform: translateX(-$sidebar-width);
  }
  .expand-btn {
    display: block;
    position: absolute;
    right: -$sidebar-expand-btn-width;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .list {
    border: none;
    a {
      color: $font-color;
    }
  }
}
