.table-fixed {
  table-layout: fixed;
}

.table-fixed {
  table-layout: auto;
}

// table class
.table {
  border-collapse: collapse;
  background-color: $table-bg-color;
  border-color: $table-border-color;

  th {
    font-size: $table-heading-font-size;
    font-weight: $table-heading-font-weight;
  }
  th,
  td {
    padding: $table-cell-padding;
    border-bottom-width: $table-border-width;
    border-bottom-style: $table-border-style;
    border-bottom-color: inherit;
  }
  &-full {
    width: 100%;
  }
  &-container {
    max-width: 100%;
    overflow: auto;
    overflow-y: hidden;
  }

  &-with-border {
    border-width: $table-border-width;
    border-style: $table-border-style;
    td,
    th {
      border-width: $table-border-width;
      border-style: $table-border-style;
      border-color: inherit;
    }
  }

  &-striped {
    tr:nth-child(2n) {
      background-color: $table-striped-bg-color;
    }
  }

  &-with-hover {
    tr {
      transition: all 0.2s ease-in-out;
    }
    tr:hover {
      background-color: $table-hover-bg-color;
    }
  }
}
