.toast {
  position: relative;
  padding: $toast-padding;
  width: $toast-width;
  box-shadow: $toast-shadow;
  border: $toast-boder;
  border-radius: $toast-boder-radius;
  margin-bottom: 1rem;
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $toast-title-font-size;
    font-weight: $toast-title-font-weight;
    margin-bottom: 1rem;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
  &-container {
    position: fixed;
  }
}
